name: Build EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install pyinstaller
          pip install requests

      - name: Build EXE
        run: |
          pyinstaller --onefile --noconsole --collect-all requests --add-data "Cat.jpeg;." backy.py

      - name: Upload EXE
        uses: actions/upload-artifact@v3
        with:
          name: backy-exe
          path: dist/backy.exe
